* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	text-align: center;
}
.continer {
	height: 100%;
	display: flex;
	background: #24292e;
	color: #fff;
	box-shadow: 1px 2px 15px 2px #000;

	padding: 1.5%;
}
.continer ul {
	width: 100%;
	/*border: solid 1px red;*/
	display: flex;
	list-style: none;
	justify-content: center;

	align-items: center;
	text-align: center;
}
.continer ul li {
	margin-right: 30px;
	text-decoration: none;
}
.continer a {
	text-decoration: none;
	color: #fff;
	padding: 20px;
	margin: 10px;
	font-size: 12px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	transition: color 0.3s ease;
}
.continer a:hover {
	/*color: #e3b155;*/
	color: #848789;
}
.div {
	width: 50%;
	height: 50%;
}
.targeta {
	width: 50%;
	height: 60vh;
	border: solid 1px #fff;
}

.targeta p {
	margin-top: 50px;
}

.cabecera {
	background: #012a72;
	box-shadow: 1px 5px 15px 2px #000;
	color: #fff;
}
