* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	text-align: center;
}
.continer {
	height: 100%;
	display: flex;
	background: #24292e;
	box-shadow: 4px 12px 15px 5px #000000;
	color: #fff;

	padding: 1.5%;
}
.continer ul {
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.continer ul li {
	margin-right: 30px;
	text-decoration: none;
}
.continer a {
	text-decoration: none;
	color: #fff;
	padding: 20px;
	margin: 10px;
	font-size: 12px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	transition: color 0.3s ease;
}
.continer a:hover {
	/*color: #e3b155;*/
	color: #848789;
}
.containerBody {
	grid-gap: 0px;
	display: grid;
	border: solid 1px #fff;

	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.containerBody div {
	border: solid 1px #fff;
}
.div {
	border: solid 1px #fff;
}
.div h1 {
	background: #012a72;
	box-shadow: 1px 5px 15px 2px #000;
	color: #fff;
}
.master {
	background: pink;
	color: #000;
	font-family: courier;
	border: solid 1px #fff;
}
.targeta {
	width: 50%;
	height: 60vh;
	border: solid 1px #fff;
}

.targeta p {
	margin-top: 50px;
}
